<main>
    <div class="container body-content">
        <div class="well">
            <h2>All Users</h2>
            <div class="row">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="user : ${users}">
                        <tr th:class="${user.isAdmin() ? 'info' : null}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.fullName}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn btn-info">Edit</a>
                                <div th:switch="${user.getActive()}">
                                    <p th:case="true">
                                        <a th:href="@{/admin/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Deactivate</a>
                                    </p>
                                    <p th:case="*">
                                        <a th:href="@{/admin/users/delete/{id}(id=${user.id})}" class="btn btn-success">Activate</a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>