<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <span th:text="${user.getFullName()}"></span>
                    <br/>
                    <span th:text="${user.getEmail()}"></span>
                </div>
                <div class="cbp-pgitem-flip">
                    <img  th:src="@{'data:image/jpeg;base64,'+${picture}}" />
                </div>

                
                <form class="form-horizontal" th:action="@{/changePassword}" method="get">
                    <button type="submit" class="btn btn-danger">Change password</button>
                </form>











            </div>
        </div>
    </div>
</main>